<html>
{{template "header.tmpl.html"}}

<body>
    <nav class="navbar" style="background-color: transparent; color: black;">
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>
        <div class="navbar-item"></div>
        <a id="black-boi" class="navbar-item is-active" href="/">
            Home
        </a>
        <a id="black-boi" class="navbar-item is-active" href="/blog">
            Blog
        </a>
        <a id="black-boi" class="navbar-item is-active" href="/music">
            Music
        </a>
    </nav>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h1 class="title is-2" align="center">
                        Everybody's Looking for the Meaning of Life Through a Cell Phone Screen...
                    </h1>
                    <div class="content is-medium">
                        <p>&emsp;&emsp;It seems like I can't escape the often-repeated phrase, "Don’t get caught up in social
                            media because it is curated snapshots that give the illusion of what someone’s life is like".
                            On Facebook, Instagram, or Twitter, I still have these involuntary urges of the very well named
                            FOMO(Feeling of missing out). I get these feelings as if I am just wasting my life doing nothing
                            while the accounts I follow keep posting pictures of their mind-blowing salad or the amazing
                            time they had in (insert club/concert/foreign country). Honestly, the amount of time I have spent
                            thinking about how I should act and post on social media platforms is both sad and exhausting.
                            Is it a symptom of being in my twenties that I feel this way? Why does the constant stream of
                            “Show and Tell” feel so accomplishing and degrading simultaneously?
                        </p>
                        <p> 
                            &emsp;&emsp;I feel sometimes stuck in
                            this world of supposed “global connection”. My mind gets caught between two very opposing social
                            pressures:
                        </p>
                        <ul>
                            <li>
                                You must use social media platforms because you will miss out on/not be invited to
                                    what your friends, family, role models, musicians, actors etc… are doing. Having the ability
                                    to be connected with friends and family around the world is an evolution of our already social
                                    minds. “A lot of good comes out of staying connected!”
                                </li>
                                <li>
                                        Social media is a toxic sinkhole of
                                        isolation versus connection, a window of false-realities that usually leads to feelings of envy
                                        and the distorted beliefs that others lead happier lives than you. “Having a healthy relationship
                                        with social media is important!”
                                </li>
                        </ul>
                        <p>
                              &emsp;&emsp;I feel like a lot of us at one point have jumped onto Facebook
                            and saw a group of friends went out last night, and this feeling of isolation and resentment
                            comes rushing in. Would you have been invited if you were online more often? At least on my end,
                            a lot of the time my mind starts racing for excuses or justifications as to why I was not invited
                            or missed out on something. “It probably wouldn’t have been that fun anyway.” “I wasn’t really
                            interested in going out last night.” Something always seems to get to me though. This feeling
                            of envy that my friends are always going on fun adventures, capturing the moments that mean so
                            much to them, sinks in. “Do my friends not want to spend time with me?” “I bet they did not have
                            as much fun because I wasn’t there.” Why do I have so much trouble with acceptance that so much
                            of social media, especially sites like Instagram and SnapChat, are so blatantly fraudulent? I
                            very clearly know this and understand this concept, but it’s like I cannot accept this truth.
                            It feels like subconsciously there is a part of me saying “That can’t be my world too. My world
                            is one hundred percent genuine. Why would anyone want to fool me?”
                        </p>
                        <p>
                            &emsp;&emsp;The worst feeling about all of this is that
                            I somehow end up with more frustrations than resolutions every time I get consciously caught
                            up in these thoughts. Sometimes I want to get onto Facebook and post pictures that I have taken
                            and share my thoughts, music, videos, whatever, and often I end up talking myself out of it one
                            way or another. I usually end up agreeing that no one would care what I post. I barely post anyway,
                            especially on Facebook. “Do I even show up on people’s feeds anymore?” Since Facebook does personalized
                            feeds how many of the friends that I would want to reach would actually see the post? “My life
                            is boring anyway.” “I don’t do near as cool stuff as my friends.” “God, their lives are so cool.”
                            “I wish my life could be like this.”
                    </p>
                    <p>&emsp;&emsp;I feel like some readers may be looking at this and immediately
                            come to the conclusion that I am spending way too much time stressing about the stress of social
                            media and that I should just let it go. If it is such a problem, then I should just get off of
                            it all and call it good. That thought has lead me to the biggest question of all of this: Why
                            even bother with Facebook, Instagram and all the aforementioned platforms? Simply put, I do like
                            it. I think it is an incredible thing that I can be able to with a few clicks or taps on my phone,
                            watch someone’s live stream in Korea on Facebook, or I can make connections with fans of my favorite
                            musicians and have a feeling of community when it comes to fan followings. There is just something
                            toxic about social media these days. Maybe it boils down to that I just happen to be in the demographic
                            that almost all social media platforms market to. I am the person that these brands want to be
                            using their applications day in and day out. I just can’t escape the feeling that social media
                            is a black hole of narcissism and self-validation, that feeds off of itself, which then continues
                            to breed narcissism and self-validation.
                            
                            </p>
                            
                            <p>&emsp;&emsp;I guess I don’t really have some perfectly summed up
                            moral of this whole story. Never have I put thoughts like these into readable words before and
                            I think that was the most freeing of this all. Sometimes I feel like I am the only person who
                            thinks the thoughts that I have. But while my thoughts will always be unique to me, I have to
                            believe that someone else has at least contemplated these ideas before. I think at the beginning
                            of writing this all down, I did want to have some kind of enlightened, wholesome wrap-up of my
                            thoughts that I could end with to make people think. I think that this really was for me the
                            whole time. I need to connect with myself more. My fears about social media actually have nothing
                            to do with me, and all have to do with how I think people will react to what I share and honestly,
                            that’s just not fair at all to myself. I need to take time to appreciate the mind-blowing salad
                            I had, or when I capture moments that mean so much to me, I need to not immediately start thinking
                            about how I can put it on Facebook. I have gone back and forth many times on if I even want to
                            put this online or if it should just stay a shelved diary type entry. Sometimes I feel like I
                            have to post things online because I am expected to and if I was not active on social media,
                            my friends would treat me differently. I want to show the world what I am interested in, and
                            that’s the point of social media right? The difference is exactly what I said. I am supposed
                            to show the world what I am interested in, not show the world what I think it wants from me.

                            </p>
                            &emsp;&emsp;I will end this with a couple good quotes that I think really helped me get some of this out
                            of my head and onto a computer. Allison Abrams in said in an article of hers (Written March fifth,
                            twenty-seventeen): “With all of the suffering and pain in the world, wouldn’t it be a tragedy if people stopped
                            sharing joyful events for fear of making someone else jealous? Imagine if people only discussed
                            all of the negative things that surrounded them. Especially over this past year, don’t we have
                            enough tragic posts appearing in our newsfeeds twenty-four-seven? Given that there will always be someone
                            who’s taller, richer, better-looking, who has more friends, a better job, etc., we can either
                            allow ourselves to fall into the dangerous trap of comparison, or we can choose to remember that
                            regardless of what others around you appear to have, everyone is grappling with their own struggles.
                            For every promotion, book deal and Tony nomination, chances are, the recipient has experienced
                            equally or more significant life setbacks.” A Quote from Eckhart Tolle: “Most humans are never
                            fully present in the now, because unconsciously they believe that the next moment must be more
                            important than this one. But then you miss your whole life, which is never not now.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h3 class="title is-4" align="center">
                        Sources
                    </h3>
                    <div class="content is-medium" align="center">
                        <p>
                            <a target="_blank" href="https://www.psychologytoday.com/blog/the-athletes-way/201703/social-media-exacerbates-perceived-social-isolation">
                                Social Media Exacerbates Perceived Social Isolation
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.socialmediatoday.com/social-networks/top-social-network-demographics-2017-infographic">
                                Top Social Network Demographics Twenty-seventeen
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.washingtonian.com/2011/04/26/13-questions-for-alexandra-robbins-online-exclusive/">
                                Thirteen Questions for Alexandra Robbins
                            </a>
                        </p>
                        <p>
                            <a target="_blank" href="https://www.psychologytoday.com/blog/nurturing-self-compassion/201703/mental-health-and-the-effects-social-media">
                                Allison Abrams - Mental Health and the Effects of Social Media
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script type="text/javascript">
    (function () {
        'use strict';
        var items = document.querySelectorAll(".timeline li");
        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }
        function callbackFunc() {
            for (var i = 0; i < items.length; i++) {
                if (isElementInViewport(items[i])) {
                    items[i].classList.add("in-view");
                }
            }
        }
        window.addEventListener("load", callbackFunc);
        window.addEventListener("resize", callbackFunc);
        window.addEventListener("scroll", callbackFunc);
    })();
</script>

</html>